node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.gitignore
.DS_Store
__pycache__/
*.py[cod]
*$py.class
.env
.env.*
!.env.example
venv/
.venv/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
coverage/
dist/
build/ 